*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.jumbotron{
    margin-bottom: 0px;
}
#title{
    padding-top: 150px;
    padding-bottom: 150px
}
#services{
    padding-top: 50px;
}
.spyPadding{
    padding-top: 50px;
}
img{
    max-width: 425px;
    max-height: 425px;
    min-width: 425px;
    min-height: 425px;
    margin: auto;
}
.card-img-top{
    padding: 50px;
    max-width: 400px;
    max-height: 400px;
    min-width: 400px;
    min-height: 400px;
}
.carousel-inner{
    width: 100%;
    height: 500px;
}
.bottom{
    text-align: center;
    padding: 70px 20px;
}
.rose{
    color: #ff1975;
}
@media only screen and (min-width: 359px) and (max-width: 400px){
    img{
        max-width: 360px;
        max-height: 360px;
        min-width: 360px;
        min-height: 360px;
        margin: auto;
    }
    .card-img-top{
        padding: 50px;
        max-width: 350px;
        max-height: 350px;
        min-width: 350px;
        min-height: 350px;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px){
    img{
        max-width: 350px;
        max-height: 350px;
        min-width: 350px;
        min-height: 350px;
        margin: auto;
    }
    .card-img-top{
        padding: 50px;
        max-width: 210px;
        max-height: 210px;
        min-width: 210px;
        min-height: 210px;
    }
}
@media only screen and (min-width: 767px) and (max-width: 992px){
    .card-img-top{
        padding: 50px;
        max-width: 250px;
        max-height: 250px;
        min-width: 250px;
        min-height: 250px;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1200px){
    .card-img-top{
        padding: 50px;
        max-width: 300px;
        max-height: 300px;
        min-width: 300px;
        min-height: 300px;
    }
}