*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.jumbotron{
    margin-bottom: 0px;
}
#title{
    padding-top: 150px;
    padding-bottom: 150px
}
#services{
    padding-top: 50px;
}
.spyPadding{
    padding-top: 50px;
}
img{
    max-width: 425px;
    max-height: 425px;
    min-width: 425px;
    min-height: 425px;
    margin: auto;
}
.card-img-top{
    padding: 50px;
    max-width: 400px;
    max-height: 400x;
    min-width: 400px;
    min-height: 400px;
}
.carousel-inner{
    width: 100%;
    height: 500px;
}
.bottom{
    text-align: center;
    padding: 70px 20px;
}
.rose{
    color: #ff1975;
}